<div th:replace="~{head}"></div>

<h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <label for="username">Email or phone:</label>
        <input type="text" id="username" name="username" value="jane.doe@example.com"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="123qwerty"><br><br>
        <div th:if="${error}" class="error">
            <p th:text="${error}"></p>
        </div>
        <input type="submit" value="Submit">
    </form>

<th:block th:replace="~{footer}"></th:block>